<div class="wrapper body-bet">
  <div class="container padded">

    <div class="col-xs-12">
      <div class="row row-margin form_background" >
        <div class="padded-explications">

          <h2 class="text-center padded-h2">Créer un pari</h2>

          <div>
            <p><small>
              1. Propose ton pari à travers un titre (ex: une question) et choisis les possibilités de réponses sur lesquelles les prochains parieurs pourront miser.
            </small></p>
            <p><small>
              2. Propose un gage pour le ou les joueurs qui n'auront pas parié sur le bon choix et qui auront donc perdu leur mise. S'ils relèvent le défi, ils pourront récupérer une partie de leur mise perdue ! <br>
              Par défaut, le contenu du gage que tu dois renseigner dans le formulaire ci-dessous sera caché et sera dévoilé aux joueurs seulement après qu'ils aient joué. <br>
              Donc n'en dis pas trop dans le titre du gage mais mets le(s) perdant(s) sur la piste en donnant une petite indication sur la nature du défi à relever ! ;)
            </small></p>
            <p><small>
              3. Il ne te reste plus qu'à donner une date limite à ton pari et le tour est joué !
            </small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">

      <%= simple_form_for @bet do |f| %>

        <div class="row row-margin form_background" >
          <div class="form-inputs text-decoration padded-text text-center">

            <div class="">
              <%= f.input :title, label: "Donne un titre à ton pari" %>
              <%= f.input :description, label: "Pour plus de détails... (si tu veux)" %>
              <%= f.association :category, label: "Catégorie" %>
            </div>

            <p class="padded-p"><strong>Choix de réponses :</strong></p>

            <div>
              <% if @bet.errors.messages[:choices].any? %>
                <div class="text-danger">
                  <%= @bet.errors.messages[:choices].join(', ') %>
                </div>
              <% end %>

              <div id="choices">
                <%= f.simple_fields_for(:choices) do |choice, index| %>
                  <%= render 'choice_fields', f: choice %>
                <% end %>

                <div class="links">
                  <%= link_to_add_association 'Ajouter un choix', f, :choices %>
                </div>
              </div>
            </div>

            <h3 class="padded-h3">Le gage</h3>

            <div>
              <%= f.input :challenge_title, label: "Donne une indication sur le gage pour le(s) perdant(s) ;)" %>
              <%= f.input :challenge, label: "C'est quoi ton gage ?" %>
            </div>

            <h3 class="padded-h3">Dealine du pari</h3>


            <div>
              <%= f.input :finish_at, label: "Donne une date de cloture du pari" %>

              <div class="btn-margin">
                <%= f.button :submit, "Créer !", class: "bet_new_button" %>
              </div>
            </div>

          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
