<div class="wrapper body-bet">
  <div class="container padded">
    <div class="col-xs-3 text-center">
      <div class="beters-container">
       <h4>Parieurs</h4>
        <div class="margin_avatar">
          <%= image_tag 'logo.png', class: "avatar-medium center-block" %>
          <br>
          <%= image_tag 'logo.png', class: "avatar-medium center-block" %>
          <br>
          <%= image_tag 'logo.png', class: "avatar-medium center-block" %>
          <br>

        </div>

      </div>
    </div>

    <div class="col-xs-9">
      <%= simple_form_for @bet do |f| %>

        <div class="row row-margin description_background">
          <div class="form-inputs text-decoration text-center padded-text">
            <%= f.input :title, label: "Donne un titre à ton pari" %>
            <%= f.input :description, label: "Pour plus de détails (si tu veux)" %>
          </div>
        </div>

        <div class="row row-margin choices-background">
          <div class="text-center padded-text">
            <p><strong>Choix de réponses :</strong></p>

            <div>
              <% if @bet.errors.messages[:choices].any? %>
                <div class="text-danger text-center">
                  <%= @bet.errors.messages[:choices].join(', ') %>
                </div>
              <% end %>

              <div class="form-inputs text-decoration" id="choices">
                <%= f.simple_fields_for :choices do |choice| %>
                  <%= render 'choice_fields', f: choice %>
                <% end %>

                <div class="links">
                  <%= link_to_add_association 'Ajouter une réponse', f, :choices %>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row row-margin bet_amount_background">
          <div class="padded-text">
            <p>Lache ton fric :</p>
          </div>
        </div>

        <div class="row row-margin challenge_background">
          <div class="form-inputs text-decoration text-center padded-text">
            <%= f.input :challenge_title, label: "Donne une indication sur le gage pour le(s) perdant(s) ;)" %>
            <%= f.input :challenge, label: "C'est quoi ton gage ?" %>
          </div>
        </div>

        <div class="row row-margin form-inputs">
          <div class="deadline text-decoration text-center padded-text">
            <strong><p><%= @bet.finish_at %></p></strong>
            <div>
              <%= f.input :finish_at, label: "Donne une date de cloture du pari" %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
