<div class="wrapper body-bet">
  <div class="container padded">
    <div class="col-xs-3 text-center">
      <% if current_user %>
        <div class="row-margin profile-container">
          <%= render "shared/avatar", user: current_user, size: "large" %>
          <%= current_user.user_name %>
          <%= link_to "Add friends", "#" %>
        </div>
      <% end %>
      <div class="beters-container">
       <h4 class="placeholder">- <%= "#{@bet.user_choices.count}" %> Parieurs -</h4>
       <br>
        <% @bet.user_choices.each do |user_choice| %>
          <%= render "shared/avatar", user: user_choice.user, size: "medium" %>
          <%= user_choice.user.user_name %>
          <br>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="row row-margin description_background">
        <div class="text-right edit-icon">
          <% if @bet.user == current_user %>
            <%= link_to '<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>'.html_safe, edit_bet_path %>
          <% end %>
        </div>

        <div class="text-center padded-text">
          <p class="placeholder">PARI</p>
          <h2><%= @bet.title %></h2>
          <p><%= @bet.description %></p>
          <hr>
          <p class="placeholder">CHALLENGE</p>
          <h3><%= @bet.challenge_title %></h3>
          <p><%= @bet.challenge %></p>
        </div>
      </div>
      <div class="row row-margin text-center">
        <div class="deadline padded-text">
          <p class="placeholder">DEADLINE</p>
          <%= render "shared/deadline" %>
        <!-- <strong><p><%= @bet.finish_at %></p></strong> -->
        </div>
      </div>


      <%= simple_form_for @user_choice, url: bet_user_choices_path(@bet), method: :post do |f| %>
        <div class="row row-margin text-center text-align">

          <% if @bet.user == current_user %>

            <div class="odd-background-lg">
              <p class="placeholder">CÔTES</p>
              <div class="flex_odd padded-text" id="choices">

                <% if @bet.choices.where(winning: true).any? %>

                  <% @bet.choices.each do |choice| %>

                    <% if choice.is_winning? %>
                      <!-- Je veux que le choix validé reste 'check' -->
                      <div class="bet-button-winning">
                        <div>
                          <i class="fa fa-check"></i>
                          <%= choice.title %>
                        </div>
                        <p><%= choice.odd %></p>
                      </div>

                    <% else %>

                      <div class="bet-button-losing">
                        <div>
                          <%= choice.title %>
                        </div>
                        <p><%= choice.odd %></p>
                      </div>

                    <% end %>
                  <% end %>

                <% else %>

                  <% @bet.choices.each do |choice| %>
                    <div class="bet-button">
                      <%= f.radio_button :choice, choice.id %>
                      <label for="user_choice_choice_<%= choice.id %>">
                        <i class="fa fa-check"></i>
                        <%= choice.title %>
                      </label>
                        <p><%= choice.odd %></p>
                    </div>
                  <% end %>

                  <div id="validate-bet-div">
                    <%= f.button :submit, "Valider le pari", class: "banner-wagon-button bet-btn" %>
                  </div>

                <% end %>
              </div>
            </div>

          <% else %>

            <div class="odd-background">
              <p class="placeholder">CÔTES</p>
              <div class="flex_odd padded-text" id="choices">
                <% @bet.choices.each do |choice| %>
                  <div class="bet-button">
                    <%= f.radio_button :choice, choice.id %>
                    <label for="user_choice_choice_<%= choice.id %>">
                      <i class="fa fa-check"></i>
                      <%= choice.title %>
                    </label>
                      <p><%= choice.odd %></p>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>
        </div>

        <% if @bet.user != current_user %>

          <div class="row bet_amount_background text-center">
            <div class="padded-text">
              <p class="placeholder">MISE</p>
              <br>
              <div class="input-group spinner">
                <div class="input-group-btn">
                 <%= link_to "-", "#", class: "btn btn-warning spinner-minus" %>
                </div>
                <%= f.text_field :bet_amount, class: "form-control" %>
                <div class="input-group-btn">
                  <%= link_to "+", "#", class: "btn btn-success spinner-plus" %>
                  <%= link_to "ALL IN", "#", class: "btn btn-default spinner-all-in" %>
                </div>
              </div>
              <div class="margin-button">
                <p>Total gains : <span id="possible-gains"></span></p>
                <%= f.button :submit, "Parier", class: "banner-wagon-button bet-btn" %>
              </div>
            </div>
          </div>

        <% end %>

      <% end %>
    </div>
  </div>
</div>
