<div class="wrapperuser padded-top text-center">
  <ul>

    <%= render "shared/avatar", user: current_user, size: "large" %>
    <br>
    <li><%= @user.user_name %></li>
    <li><strong> <%= @user.points %> Pts</strong></li>
    <br>
    <div>
      <% if @user == current_user %>
        <%= link_to "Editer mon profil", edit_user_registration_path %>
      <% end %>
    </div>
  </ul>
  <div class="tabs">
    <a class="tab active " data-target="#my-bets">
      <h3>Mes paris </h3>
    </a>
    <a class="tab" data-target="#my-stats">
      <h3>Mes statistiques</h3>
    </a>
    <a class="tab" data-target="#my-challenges">
      <h3>Mes challenges</h3>
    </a>
  </div>
</div>

<div class="container text-center borders">
  <div id="my-bets" class="tab-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 borders">
        <h4>En cours</h4>
          <div class="div-scroll">
            <% @bets.each do |bet| %>
              <% if bet.on_going?  %>
                <% @user_choices.each do |user_choice| %>
                  <div class="dashboard-card">
                    "<%= bet.title %>"
                    <li><%= user_choice.bet_amount %> Pts misé(s)</li>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 borders">
        <h4>Terminés</h4>
        <div class="div-scroll">
        <% @bets.each do |bet| %>
          <% if bet.finished? %>
            <% if bet.user == current_user %>
              <div class="dashboard-card-finish">
                "<%= bet.title %>"
                <p> <%= link_to 'Valider le pari', bet_path(bet), class: "btn btn-dashboard"%> </p>
                <div class="texthelp">
                  <p>Vous devez valider votre pari en donnant son résultat</p>
                </div>
              </div>
            <% else %>
              <% @user_choices.each do |user_choice| %>
                <div class="dashboard-card">
                  "<%= bet.title %>"
                  <li><%= user_choice.bet_amount %> Pts misé(s)</li>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <div id="my-stats" class="tab-content hidden">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 borders">
        <h4>Paris gagnés</h4>
        <% @bets.each do |bet| %>
          <% @user_choices.each do |user_choice| %>
            <% @bet_choices.each do |bet_choice| %>
                <% if bet.finished? && (user_choice == bet_choice.winning) %>
                  <% if bet.user != current_user %>
                    <div class="dashboard-card-finish">
                      "<%= bet.title %>"
                      <li><%= user_choice.bet_amount %> Pts misé(s)</li>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 borders">
        <h4>Paris perdus</h4>
        <% @bets.each do |bet| %>
          <% @user_choices.each do |user_choice| %>
            <% @bet_choices.each do |bet_choice| %>
                <% if bet.finished? && (user_choice == !bet_choice.is_winning?) %>
                  <% if bet.user != current_user %>
                    <div class="dashboard-card-finish">
                      "<%= bet.title %>"
                      <li><%= user_choice.bet_amount %> Pts misé(s)</li>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 borders">
        <h4>Taux de réussite</h4>
          <div class="dashboard-card-taux">
            <h1> <%= @user.percentage_off  %> %</h1>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 borders">
        <h4>Classement</h4>
          <div class="dashboard-card-taux">
            <h1> <% new_index = (@ranking_users.index(@user)) + 1 %> </h1>
            <h1> <%= new_index %> / <%= User.count %> </h1>
          </div>
      </div>
    </div>
  </div>
  <div id="my-challenges" class="tab-content hidden">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 borders">
        <h4>En cours</h4>
          <div class="dashboard-card">
            <%= Bet.all.sample.challenge_title %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 borders">
        <h4>Terminés</h4>
          <div class="dashboard-card-finish">
              "<%= Bet.all.sample.challenge_title %>"
              <p> <%= link_to 'Valider le challenge', bet_path, class: "btn btn-dashboard"%> </p>
              <div class="texthelp">
                 <p>Vous devez relever le defi et poster la preuve pour sauver vos points!</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>










