<div class="wrapperuser padded-top text-center">
  <ul>
    <%= image_tag("clown.png", :style => 'width: 100px;')%>

    <li><%= @user.user_name %></li>
    <li><%= @user.last_name %></li>
    <li><%= @user.first_name %></li>
    <div>
      <% if @user == current_user %>
        <%= link_to "Edit my profile", edit_user_registration_path %>
      <% end %>
    </div>
  </ul>

    <div class="tabs">
      <a class="tab active " data-target="#client-activity">
        <h3>Mes paris </h3>
      </a>
      <a class="tab" data-target="#advisor-activity">
        <h3>Paris terminés</h3>
      </a>
      <a class="tab" data-target="#advisor-activity">
        <h3>Paris en cours</h3>
      </a>
      <a class="tab" data-target="#advisor-activity">
        <h3>Mes stats</h3>
      </a>
      <a class="tab" data-target="#advisor-activity">
        <h3>Mes challenges</h3>
      </a>
    </div>


</div>
