<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path "bet"%>);">
  <div class="banner-content">
    <h1>Pariez entre amis ! </h1>
    <p>Créez vos paris sur tout et n'importe quoi et invitez vos amis !</p>
    <a class="navbar-wagon-button-banner">CRÉER UN PARI</a>
  </div>
</div>

  <div class="wrapper padded text-center">
  <div class="container">
    <div class="process ">
      <h2>COMMENT ÇA MARCHE ?</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'roulette', class: 'avatarhome'%>
          <h3>Créez votre pari sur n'importe quel sujet.</h3>
          <div class="circle1">1</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'networking.png', class: 'avatarhome'%>
          <h3>Invitez vos amis à parier sur votre pari, ou pariez sur les paris en cours !</h3>
          <div class="circle2">2</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'clown.png', class: 'avatarhome' %>
          <h3>Pari perdant? Vous devez relever le challenge du pari pour sauver vos points !</h3>
          <div class="circle3">3</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'trophy.png', class: 'avatarhome' %>
          <h3>Remportez un maximum de points, et defiez vos amis !</h3>
          <div class="circle4">4</div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container mostpopular padded text-center">
    <div class="row">
      <h2>LES PLUS POPULAIRES</h2>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter"></div>
                        <h4 class="description">"Juppé va-t-il remporter les primaires de la droite ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter"></div>
                        <h4 class="description">"Julien est-il gay ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter "></div>
                        <h4 class="description">"Ronaldo va-t-il gagner le ballon d'or ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter"></div>
                        <h4 class="description">"Yvon va-t-il se battre avec un Bulgare avant la fin de la formation ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter"></div>
                        <h4 class="description">"Vais-je tenir 100 jours sans manger ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>

            <div class="card-box col-md-4 col-sm-6">
                <div class="card card-just-text card-with-border" data-color="orange" data-src="/hipster-as-f-cards/assets/img/music-3.jpg">
                    <div class="content">
                      <div class="filter"></div>
                        <h4 class="description">"Brad pitt va-t-il se taper Marion Cotillard ?"</h4>
                      <div class="footer btn-center">
                        <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
                      </div>
                      </div>

                    <div class="filter"></div>
                      <div class="social-line" data-buttons="3">
                            <button class="btn btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-social btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-social btn-pinterest">
                                <i class="fa fa-pinterest"></i>
                            </button>
                      </div>
                    </div> <!-- end card -->
            </div>


  </div>
</div>


