<div class="container padded padded-top text-center">
<h2 style="margin-bottom: 40px";> CLASSEMENT </h2>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="table-responsive space-bottom-30 space-top-30">
        <table class="table table-hover comments-avatar" style="table-layout: fixed;">
          <thead>
            <tr>
              <th></th>
              <th> </th>
              <th style="padding-left: 70px";>Pseudo</th>
              <th style="padding-left: 25px";>Points remportés</th>
              <th style="padding-left: 40px";>% de réussite</th>
              <th style="padding-left: 70px";>Nb. paris</th>
            </tr>
          </thead>
          <% @users.each_with_index do |user, index| %>
            <tbody>
              <td><%= index + 1 %></td>
              <td>
                <div>
                  <%= link_to((render "shared/avatar", user: user, size: "medium"), user_path(user)) %>
                </div>
              <td><%= link_to user.user_name, user_path(user), html_options = {class: "none"} %></td>
              <td><strong><%= user.points  %></strong></td>
              <td><%= user.percentage_off %>%</td>
              <td><%= user.user_choices.count%></td>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

